.emacs_workgroups
.cache/
.python-environments/
.saves/
.semantic/
GPATH
GRTAGS
GTAGS
abbrev_defs
ac-comphist.dat
auto-save-list
elpa/
games/
helm-adaptive-history
image-dired/
nameses-sessions/
persp-confs/
project-explorer-cache/
semanticdb/
tutorial/
url/
