.emacs_workgroups
.python-environments/
.saves/
.semantic/
GPATH
GRTAGS
GTAGS
abbrev_defs
ac-comphist.dat
auto-save-list
ede-projects.el
elpa/
eshell/lastdir
eshell/history
games/
helm-adaptive-history
image-dired/
nameses-sessions/
persp-confs/
project-explorer-cache/
semanticdb/
tutorial/
url/
srecode-map.el
projectile-bookmarks.eld
**/*.~undo-tree~
*.~undo-tree~
eln-cache/*
tramp
transient/
straight/
bookmarks
smex-items
